@import "../variables/variables";
@import "../mixins/mixins";

#banner-part {
    margin-top: -125px;
    .banner-slider {
        position: relative;
        .item {
            background: url(../images/banner1.jpg) no-repeat center/cover;
            position: relative;
            margin-bottom: 100px;
            .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                .overlay2 {
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 204, 51, .6);
                    clip-path: polygon(60% 0, 100% 0, 100% 100%, 45% 100%);
                    text-align: right;
                    .info {
                        padding-top: 270px;
                        h1 {
                            @include font ($ff2, 40px, 500, $dark);
                            padding-bottom: 65px;
                            letter-spacing: 3px
                        }
                        h3 {
                            @include font ($ff2, 24px, 500, $dark);
                            padding-bottom: 20px;
                        }
                        // countdown
                        #countdown-active1 {
                           .single-counter{
                               display: inline-block;
                               text-align: center;
                               padding: 20px;
                               border: 1px solid $light;
                               border-radius: 5px;
                               margin: 0 5px;
                               @include font ($ff2, 20px, 500, $dark);
                               transition: .4s;
                               span{
                                   display: block;
                               }
                               &:hover{
                                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
                               }
                            }
                        }
                        #countdown-active2 {
                           .single-counter{
                               display: inline-block;
                               text-align: center;
                               padding: 20px;
                               border: 1px solid $light;
                               border-radius: 5px;
                               margin: 0 5px;
                               @include font ($ff2, 20px, 500, $dark);
                               transition: .4s;
                               span{
                                   display: block;
                               }
                               &:hover{
                                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
                               }
                            }
                        }
                        #countdown-active3 {
                           .single-counter{
                               display: inline-block;
                               text-align: center;
                               padding: 20px;
                               border: 1px solid $light;
                               border-radius: 5px;
                               margin: 0 5px;
                               @include font ($ff2, 20px, 500, $dark);
                               transition: .4s;
                               span{
                                   display: block;
                               }
                               &:hover{
                                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
                               }
                            }
                        }
                        
                        .btn {
                            padding-top: 60px;
                            padding-right: 0;
                            padding-bottom: 110px;

                            a {
                                @include font ($ff2, 16px, 500, $dark);
                                padding: 5px 20px !important;
                                border: 1px solid $dark;
                                border-radius: 5px;
                                transition: .4s;
                                margin-left: 10px;

                                &:hover {
                                    background: $light;
                                    border: 1px solid $light;
                                }
                            }
                        }
                    }
                }
            }
            .banner-img {
                position: absolute;
                top: 275px;
                left: 40%;
                transform: translateX(-40%);
            }
        }
        .prev{
            position: absolute;
            color: $light;
            font-size: 30px;
            top: 50%;
            left: 50px;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                right: 7px;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: -1;
                border: 1px solid $light;
                transition: .4s;
            }
            &:hover:after {
                right: -15px;
                width: 30px;
                height: 30px;
                background: $main;
                border-radius: 50%;
                border: 1px solid $main;
            }
        }

        .next{
            position: absolute;
            color: $gray;
            font-size: 30px;
            top: 50%;
            right: 50px;
            z-index: 1;
            &:after {
                content: "";
                position: absolute;
                right: -7px;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: -1;
                border: 1px solid $gray;
                transition: .4s;
            }
            &:hover:after {
                right: 15px;
                width: 30px;
                height: 30px;
                background: $light;
                border-radius: 50%;
                border: 1px solid $light;
            }
        }
        
    }
}