@import "../variables/variables";
@import "../mixins/mixins";

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 80px;
    .left {
        position: relative;
        p {
            @include font($ff1, 13px, 500, $light)
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -10px;
            background: rgba(255, 255, 255, 0.3);
        }

    }

    .right {
        position: relative;
        a {
            @include font($ff2, 16px, 500, $gray);
            transition: .4s;
            &:hover{
                color: $light;
            }
        }
        .line {
            width: 2px;
            height: 20px;
            background: $gray;
            margin: 0 15px;
            margin-top: 2px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            right: 0;
            bottom: -10px;
            background: rgba(255, 255, 255, .3);
        }
        form {
            position: relative;
            width: 150px;
            margin-left: 130px;
            .form-control {
                border: transparent;
                border-bottom: 1px solid $gray;
                border-radius: 0;
                background: transparent;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 13px;
                color: $gray;
                padding: 0 !important;
                &:focus {
                    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0),
                        0 0 8px rgba(255, 254, 254, 0);
                    background: transparent;
                    color: $gray;
                }
                &::placeholder {
                    color: $gray;
                    margin: 0;
                    font-style: italic;
                }
            }
            .btn {
                position: absolute;
                top: -10px;
                right: 0;
                color: $gray;
                transition: .4s;
                &:hover{
                    color: $light;
                }
            }
        }
    }
}