@import "../variables/variables";
@import "../mixins/mixins";

#testi-part {
    margin-top: 100px;

    .testi-slider {
        background: url(../images/testibg.png) no-repeat center/cover;
        margin-top: 150px;
        padding-top: 400px;

        .up-slider {
            margin-top: -520px;
            .item {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 30px 0;

                .text {
                    background: #f1f1f1;
                    padding: 30px;
                    box-sizing: border-box;
                    width: 70%;

                    p {
                        @include font ($ff1, 14px, 500, $dark)
                    }

                    .img {
                        display: flex;
                        justify-content: center;
                        img {
                            margin-top: 20px;
                        }
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -24px;
                    left: 49.7%;
                    width: 30px;
                    height: 30px;
                    background: #f1f1f1;
                    border-radius: 5px;
                    transform: rotate(45deg) translateX(-49.7%);
                }
            }
        }
        .down-slider{
            .item{
                display: flex;
                justify-content: center;
                margin-top: 30px;
                .details{
                    .img{
                        width: 100px;
                        height: 100px;
                        background: #f1f1f1;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                    h3{
                        @include font ($ff3, 16px, 500, $light);
                        margin-top: 25px;
                    }
                    .rating{
                        i{
                            color: $main;
                            margin: 5px 0;
                        }
                    }
                    p{
                        @include font ($ff3, 16px, 500, $light)
                    }
                }
            }
        }
    }
}