@import "../variables/variables";
@import "../mixins/mixins";

#video-part{
    margin-top: 100px;
    a{
        width: 100%;
        .video{
            background: url(../images/videobg.png) no-repeat center/cover;
            .overlay{
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                padding: 200px;
                transition: .4s;
                opacity: 0;
                i{
                    color: $light;
                    font-size: 60px;
                }
                h3{
                    @include font ($ff3, 24px, 500, $light);
                    margin-top: 20px;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}