// font
$ff1: 'Open Sans', sans-serif;
$ff2: 'Oswald', sans-serif;
$ff3: 'Raleway', sans-serif;




// color
$light: #fff;
$gray: #444444;
$lightgray: #bfbebe;
$dark: #222222;
$main: #ffcc33;
$shape: #ffe596;
