@import "../components/header";
@import "../components/navbar";
@import "../components/banner";
@import "../components/schedule";
@import "../components/about";
@import "../components/video";
@import "../components/popularteam";
@import "../components/product";
@import "../components/testi";
@import "../components/news";
@import "../components/contact";
@import "../components/footer";