@import "../variables/variables";
@import "../mixins/mixins";

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
}

.title {
  h1 {
    @include font ($ff2, 40px, 500, $dark);
    padding-bottom: 20px;
  }
}